@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;600;700&display=swap');

:root {
    --green:#27ae60;
    --black:#192a56;
    --light-color:#666;
    --box-shadow: 0 .5rem 1.5rem rgba(0,0,0,.1);
}
*{
    font-family: 'Nunito', sans-serif;
    margin: 0; padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    outline: none; border: none;
    text-transform: capitalize;
    transition: all .2s linear;
}

html {
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-padding-top: 5.5rem;
    scroll-behavior: smooth;
}

header {
    position: fixed;
    top: 0; left: 0; right: 0;
    background: #fff;
    padding: .1rem 7%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1000;
    box-shadow: var(--box-shadow);
}

header .logo{
    color: var(--black);
    font-size: 2.5rem;
    font-weight: bolder;
}

header .logo i{
    color: var(--green);
}

header .navbar a{
    font-size: 1.7rem;
    border-radius: .5rem;
    padding: .5rem 1.5rem;
    color:var(--light-color);
}

header .navbar a.active,
header .navbar a:hover{
    color: #fff;
    background: var(--green);
}

header .icons i,
header .icons a{
    cursor: pointer;
    margin-left: .5rem;
    height: 4.5rem;
    line-height: 4.5rem;
    width: 4.5rem;
    text-align: center;
    font-size: 1.7rem;
    color:var(--black) ;
    border-radius: 50%;
    background: #eee;
}

header .icons i:hover,
header .icons a:hover{
    color: #fff;
    background: var(--green);
    transform: rotate(360deg);
}

header .icons #menu-bars {
    display: none;
}

#search-form {
    position: fixed;
    top: -110%;left: 0;
    height: 100%;
    width: 100%;
    z-index: 1004;
    background: rgba(0,0,0,.8);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 1rem;
}

#search-form.active{
    top:0;
}

#search-form #search-box {
    width: 50rem;
    border-bottom: .1rem solid #fff;
    padding: 1rem 0;
    color: #fff;
    font-size: 3rem;
    text-transform: none;
    background:none ;
}

#search-form #search-box::placeholder{
    color: #eee;
}

#search-form #search-box::-webkit-search-cancel-button{
    -webkit-appearance:none ;
}

#search-form label{
    color: #fff;
    cursor: pointer;
    font-size: 3rem;
}

#search-form label:hover{
    color:var(--green) ;
}

#search-form #close{
    position: absolute;
    color: #fff;
    cursor: pointer;
    top: 2rem; right: 3rem;
    font-size: 5rem;
}

/*css cho order*/










a{
    text-decoration: none;
    color: #444;
}

.footer{
    /* background-color: violet; */
    /* height: 580px; */
}
.footer--header{
    height: 220px;
    width: 100%;
    background-color:var(--white--color);
    border-top: var(--green) solid 5px;

}
.footer--header-all{
    display: flex;
}
.footer--header-div{
    margin: 20px 40px;
    margin-top: 40px;
    font-size: 18px;
    font-weight: 600;
    color: #444;
}
.footer--header-div-list2{
    display: flex;
    margin-left: 200px;
    margin-right:20px;
}
.footer--header-div-text{
    font-weight: 400;
    color: #444;

}
.footer--header-div li{
    margin-top: 15px;
    list-style: none;
    font-weight: 400;
    font-size: 15px;
    color: #444;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}
.footer--header-div li a{
    text-decoration: none;
    color: #333;
}
.footer--header-div-icon{
    margin-right: 10px;
}
.footer--header-div-icon-intar{
    color: #333;
}
.footer--header-div-qrcode{
    height: 100px;
}
.footer--header-div-qr{
    display: flex;
    margin-top: 15px;
}
.footer--header-div-appstore{
    height: 20px;
}
.footer--header-div-chplay{
    height: 20px;

}
.footer--header-div-qr-all{
    margin-top: 25px;

}
.footer--body{
    background-color: rgb(230, 227, 227);
    height: 320px;
    width: 100%;
}
.footer--body-all1{
    display: flex;
    list-style: none;
    margin-left: 150px;
}
.footer--body-all1-li a{
    color: #444;
    text-decoration: none;
    margin: 20px 40px;
    font-size: 18px;
    font-weight: 400;
}
.footer--body-all1-li{
    margin-top: 40px;
}
.footer--body-all1-li2::before{
    position: absolute;
    content: "";
    height: 20px;
    width: 1px;
    background-color: #999;
}
.footer--body-all1-li3::before{
    position: absolute;
    content: "";
    height: 20px;
    width: 1px;
    background-color: #999;
}
.footer--body-all1-li4::before{
    position: absolute;
    content: "";
    height: 20px;
    width: 1px;
    background-color: #999;
}
.footer--body-all2-img{
    height: 40px;
    /* background: skyblue; */
}
.footer--body-all2{
    text-align: center;
    margin-top: 50px;
}
.footer--body-all2-text{
    margin-top: 20px;
    color: #444;
    font-size: 18px;
}
.footer--body-all3{
    margin-top: 40px;
    text-align: center;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.marquee{
    background: linear-gradient(180deg,var(--green) 10%,white 90%);
    font-size: 23px;
    margin-top: 40px;
    height: 40px;
}
.marquees{
    margin-top: 5px;
    margin-right: 100px;
    margin-left: 100px;
}
.footer---body-all2-text{
    font-size: 20px;
}
.footer--body-all3{
    font-size: 16px;
}


/* media  ko dc xóa */

@media (max-width:991px ) {
    html {
        font-size: 55%;
    }

    header{
        padding: 1rem 2rem;
    }

    .none2{
        display: none;
    }
    .footer--header{

    }
    .footer--header-div{

        width: 1000px;
        height: 175px;

    }
    .footer--header-div-list2{
        width: 250px;
        margin-left: 0;
    }

    .footer--header-div0 span{
        display: none;

    }

    .footer--header-div0{
        display: flex;

    }
    .footer--header-div0 p{
        font-size: 14px;
    }
    .footer--header-div2{
        margin-right: 0;
    }
    .footer--header-div li{
        font-size: 16px
    }
    .footer--body-all1-li2::before{
        background: none;
    }

    .footer--body-all1-li3::before{
        background: none;
    }
    .footer--body-all1-li4::before{
        background: none;
    }
    .footer--body-all1{
        margin: auto;
        text-align: center;
        display: flex;

    }
    .footer--body-all1-li {


    }
    .footer--body-all1-li a{
        font-size: 14px;
    }
    .footer---body-all2-text{
        font-size: 15px;
    }
    .footer--body-all3{
        font-size: 13px;
    }

    .marquees{

        font-size: 16px;
    }

}

@media (max-width:768px ) {

    header .icons #menu-bars {
        display: inline-block;
    }

    header .navbar{
        position: absolute;
        top: 100%; left: 0; right: 0;
        background: #fff;
        border-top: .1rem solid rgba(0,0,0,.2);
        border-bottom: .1rem solid rgba(0,0,0,.2);
        padding: 1rem;
        clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
    }

    header .navbar.active{
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
    }

    header .navbar a{
        display: block;
        padding: 1.5rem;
        margin: 1rem;
        font-size: 2rem;
        background: #eee;
    }

    #search-form #search-box {
        width: 90%;
        margin: 0 1rem;
    }

    .footer--header-div li{
        font-size: 12px;

    }
    .footer--body-all1-li a{
        text-align: center;
        font-size: 10px;

    }
    .footer--header-div-list2{
        width: 100px;
        margin-right: 50px;
    }
    .footer--header-div1s{
        margin-right: 0;
    }
    .marquees{
        font-size: 13px;
    }
}